{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": [
      "error", {
         "devDependencies": true
      }
    ],    
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [2, { "forbid": ["any", "array"] }],
    "max-len": ["error", { "code": 120 }],
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "config/webpack.common.js"
      }
    }
  },
  "env": {
    "browser": true
  }
}